<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726802477000-hq8bc26turad5jvrbeafkh9h9ehfftu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726802477000-hq8bc26turad5jvrbeafkh9h9ehfftu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>726802477000-8819i3sfbs1ekndjsnl7ek8s1mlfrpst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-5b9bEUFJuz00iKng2XSybDCB4Pfi50M</string>
	<key>GCM_SENDER_ID</key>
	<string>726802477000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerce</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-commerce-b6ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-commerce-b6ceb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726802477000:ios:43463cc26f10bc71605afd</string>
</dict>
</plist>